@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;700&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    padding:0%;
    margin:0%;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

nav{
    position:fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 205, 236);
    color: rgb(151, 12, 86);
    height: 15%;
    width: 100%;
    font-size: 0.9rem;
    z-index:1;
}

nav a{
    color: rgb(151, 12, 86);
}

nav li{
    list-style-type: none;
    display: inline-block;
    padding: 0.4rem 0.4rem;
    
}

nav a:hover{
    color:rgb(76, 6, 43);
    cursor:pointer;
}

nav li:hover{
    color:rgb(76, 6, 43);
    cursor:pointer;
}

#fotonav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: auto;
    flex-shrink: 0;
}

#fotonav img {
    width: 40%;
    height: auto;
    padding: 0.5rem;
    display: block;
}

.barrabusqueda{
    padding: 0.5rem 0.5rem;
    background-color: white;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
}

.busqueda{
    border-radius: 30%;
    background-color: rgb(255, 205, 236);
    cursor: pointer;
}

.busqueda:hover{
    background-color: rgb(173, 247, 255);
    transition: background-color 0.3s, transform 0.2s;
    transform: scale(1.05);
}

.videoloop{
    margin-top: 5%;
    width:100%;
    background-image: linear-gradient( white, rgb(173, 247, 255), white);
    text-align: center;
}

.videoloop video{
    height:65vh;
    object-fit: cover;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#galeriadestacados h1{
    text-align:start;
}

#galeriadestacados {
    padding: 2rem;
    background-image: linear-gradient(rgb(255, 205, 236), white);
    text-align: center;
    padding-top: 8%;
}

#galeriadestacados h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: rgb(151, 12, 86);
}

.destacados {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    justify-items: center; 
}

.cuadrodestacados {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    width: 100%;
    max-width: 250px;
}

.fotoproducto {
    width: 100%;
    height: 150px;
    object-fit:scale-down;
    border-bottom: 1px solid #ddd;
}

.nombredestacado{
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: rgb(151, 12, 86);
}

.preciodestacado {
    font-size: 1rem;
    color: #666;
    margin: 0.5rem 0;
}

.botoncompraD {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 205, 236);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem 0;
    transition: background-color 0.3s, transform 0.2s;
}

.botoncompra {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem 0;
    transition: background-color 0.3s, transform 0.2s;
}

.botoncompra:hover {
    background-color: rgb(173, 247, 255);
    transform: scale(1.05);
}

.botoncompraD:hover {
    background-color: rgb(173, 247, 255);
    transform: scale(1.05);
}

.cuadrodestacados:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#productosespecies h2{
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: rgb(151, 12, 86);
}

#productosespecies{
    scroll-margin-top: 170px;
}

#pelu{
    scroll-margin-top: 170px;
}

.cuadroproductos {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 99%;
    height:auto;
}

.imagen {
    width:40%;
    height:40%;
}   

.productos{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    color: rgb(151, 12, 86);
    padding-bottom: 10px;
}


.botones{
    margin-bottom: 10px;
    width: 100%;
    height: 10%;
    display: inline-block;
    text-align: center;
}

.selector{
    width:23%;
    font-size: 1.3rem;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    background-color: rgb(255, 205, 236);
    color: white;
    border: none;
    border-radius: 5px;
}

.selector:hover {
    transform: scale(1.05);
}

#perros{
background-color: #da5353;
}
#perros:hover {
    background-color: rgb(173, 247, 255);
}

#gatos{
    background-color: rgb(83, 243, 139);
}
#gatos:hover {
    background-color: rgb(173, 247, 255);
}

#otros{
    background-color: #b35cdb;
}
#otros:hover {
    background-color: rgb(173, 247, 255);
}

#peces{
background-color: rgb(84, 128, 216);
}

#peces:hover {
    background-color: rgb(173, 247, 255);
}

#Sperro button{
    background-color: #da5353;
}

#Sgato button{
    background-color: rgb(83, 243, 139);
}

#Sotros button{
    background-color: #b35cdb;
}

#Speces button{
    background-color: rgb(84, 128, 216);
}

#Sperro button:hover{
    background-color: rgb(173, 247, 255);
}

#Sgato button:hover{
    background-color: rgb(173, 247, 255);
}

#Sotros button:hover{
    background-color: rgb(173, 247, 255);
}

#Speces button:hover{
    background-color: rgb(173, 247, 255);
}

#Sperro{
    background-image: linear-gradient( white,#da5353, white);
}

#Sgato{
    background-image: linear-gradient( white, rgb(83, 243, 139), white);  
}

#Sotros{
    background-image: linear-gradient( white, #b35cdb, white);
}

#Speces{
    background-image: linear-gradient( white, rgb(84, 128, 216), white);
}

.oculto {
    display: none;
}

#peluqueria h2{
    color: rgb(151, 12, 86);
    font-size: 3rem;
}

#peluqueria{
    margin-top: 5%;
    width:100%;
    background-image: linear-gradient( white, rgb(173, 247, 255), white);
    text-align: center;
}

#peluqueria img{
    height:50vh;
    object-fit: cover;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#servicios {
    width: 30%;
    margin: 0 auto;
    padding-left: 50px;
}

#peluqueria ul {
    list-style: none;
    padding: 0;
}

#peluqueria li {
    background-image: url('../img/paw-outline.svg');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
}

#animacion {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    color: rgb(151, 12, 86);
    animation: pulso 1.5s infinite alternate ease-in-out;
    overflow: hidden;
    display: inline-block;
}

@keyframes pulso {
    0% {
        transform: scale(1);
        color: rgb(151, 12, 86);
    }
    50% {
        transform: scale(1.1);
        color: rgb(255, 80, 120);
    }
    100% {
        transform: scale(1);
        color: rgb(255, 205, 236);
    }
}

@keyframes pulsocompra {
    0% {
        color: rgb(151, 12, 86);
    }
    50% {
        color: rgb(255, 80, 120);
    }
    100% {
        color: rgb(255, 205, 236);
    }
}

.pulsocompra {
    animation: pulso 0.5s ease;
}

footer{
    bottom: 0%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
.correo{
    text-align: left;
    width: 30%;
    justify-content: left;
    padding: 30px;
    font-style: italic;   
}

#pedirCita{
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 205, 236);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem 0;
    transition: background-color 0.3s, transform 0.2s;
}

#pedirCita:hover{
    background-color: rgb(173, 247, 255);
    transform: scale(1.5);
}

.logofooter{
    justify-content: center;
    width: 33%;
    display: inline-block;
    text-align: center;
}

.logofooter img{
    width: 50%;
    height: auto;
}

.RRSS{
    width: 30%;
    margin-left: 10%;
}

.RRSS i {
    color: rgb(151, 12, 86);
    transition: color 0.3s, transform 0.2s;
}

.RRSS i:hover {
    transform: scale(1.1);
    color: rgb(173, 247, 255);
}

.desplegable {
    display: none;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .destacados {
        grid-template-columns: repeat(2, 1fr);
    }

    .productos {
        grid-template-columns: repeat(3, 1fr);
    }

    .videoloop{
        margin-top: 5%;
        width:100%;
        background-image: linear-gradient( white, rgb(173, 247, 255), white);
        text-align: center;
    }

    .videoloop video{
        height:50vh;
        object-fit: cover;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
    }

    .barrabusqueda{
        display:none
    }
    
    .busqueda{
        display:none
    }
    
    .busqueda:hover{
        display:none
    }
}

@media (max-width: 768px) {
    .destacados {
        grid-template-columns: 1fr;
    }
    .productos {
        grid-template-columns: repeat(2, 1fr);
    }

    .videoloop{
        display:none
    }

    #peluqueria img{
        height:20vh;
        object-fit: cover;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    .logofooter{
        display: none
    }
    
    .logofooter img{
        display: none;
    }

    .barrabusqueda{
        display:none
    }
    
    .busqueda{
        display:none
    }
    
    .busqueda:hover{
        display:none
    }

    #navnt li{
        display: flex;
    }

    #navnt ul{
        flex-direction: column;
        gap: 8px;
        display: none;
        position: absolute;
        background-color: white;
        min-width: 100px;
        z-index: 2;
        margin-top:0;
    }

    #navnt a{
        color:rgb(151, 12, 86);
        padding: 12px 16px;
        display: block;
    }

    #navnt:hover ul{
        display: block;
    }

    #navnt a:hover{
        background-color: white;
    }

    .desplegable{
        background-color: rgb(151, 12, 86);
        display: block;
        color: white;
        padding: 30px;
        font-size: 16px;
        border: none;
        margin-right: 10px;
        border-radius: 10%;
        cursor: pointer;
    }

    #fotonav {
    display: none;
    }
}